{# templates/pokemon/details.html.twig #}

<h1>Pokemon details</h1>
<img src="{{ details.image }}" />
<div>name: {{ details.name }}</div>
<div>strength: {{ details.strength }}</div>

<h1>Strongest Pokemon in type details</h1>
<img src="{{ strongestDetails.image }}" />
<div>name: {{ strongestDetails.name }}</div>
<div>strength: {{ strongestDetails.strength }}</div>