{# templates/pokemon/list.html.twig #}
    <h1>Pokemon list</h1>
<ul>
{% for type,value in list %}
    <li>{{ type }}
        <ul>
            {% for key1,data in value.list %}
                <li><a href="{{ path('pokemon_details', {index: data.index, strongest: value.strongest}) }}"><div><img src="{{ data.image }}" />{{ data.name }}</div></a></li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
